
.register-container{

    display: flex;
   justify-content: center;
   


}
.register-container img{
    display: flex;
    justify-content: center;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    width: 400px;
    object-fit: cover;

}

form{

    display: flex;
    flex-direction: column;
    gap: 1.2rem;


    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    padding: 1rem 2rem;


    text-align: center;


}


.input-container input {

    width: 100%;
    padding: 10px 20px;

}

.input-container{

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}


.submit-container{

    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.submit-container a{
    color: var(--neutral);
    text-decoration: none;
    border: none;
}


.submit-btn{

    padding: 10px 20px;

    background-color: black;
    color: white;

    cursor: pointer;


}