.parent-container{

    display: flex;
    justify-content:space-around;
    gap: 2rem;
    padding: 2rem;

}

.container{

    display: flex;
    gap: 2rem;  
    font-size: x-small;

}


.container-img img {

    width: 8rem;
    height: 8rem;
    background-position: center;
    background-size: cover;
    object-fit: cover;

}
.container-img{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.container-content{

    display: flex;
    gap: 2rem;
    align-items: center;
}

.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}
.continue-btn{
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    cursor: pointer;

}
.deleteicon{
    cursor: pointer;
}

@media screen and (max-width:1248px) {
    .parent-container{
        display: flex;
        justify-content:flex-start;
        gap: 0.7rem;
        padding: 0.7rem;
    } 
    .orderdetails-section{
        display: flex;
        justify-content: flex-end;
        font-size: medium;
    }
}
@media screen and (max-width:1131px) {
    .orderdetails-section{
        display: flex;
        justify-content: flex-end;

    }
    .parent-container{
        display: flex;
        justify-content:space-around;
        align-items:center;
        flex-direction: column;
        gap: 2rem;
        padding: 0.5rem;
    }  
}
@media screen and (max-width:619px) {
    .container-img{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .parent-container{
       display: flex;
       justify-content: space-aroun;
    }
    }
@media screen and (max-width:440px) {
    .parent-container{
        display: flex;
        justify-content: space-around;
        width: 500px;
        padding: 1rem;
    }
    .container{

        display: flex;
        justify-content: space-between;
        gap: 1rem;  
        font-size: xx-small;
    }
    .container-img img {
        width: 5rem;
        height: 5rem;
    }

}
    
