.parent-container{

    display: flex;
    justify-content:flex-start;
    gap: 2rem;
    padding: 2rem;

}

.container{

    display: flex;
    gap: 2rem;  

}


.container-img img {

    width: 8rem;
    height: 8rem;

    background-position: center;
    background-size: cover;
    object-fit: cover;

}

.container-content{

    display: flex;
    gap: 2rem;
    align-items: center;
}

.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}
.continue-btn{
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    cursor: pointer;

}
.deleteicon{
    cursor: pointer;
}