.navbar {

    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav .logoicon img {
    width: 100%;
    
}

.navbar a{

    color: var(--neutral);
    text-decoration: none;
    border: none;
}


.nav-bar1{
    display: flex;
    gap: 3rem;
    font-size: larger;
}


.nav-bar2{

    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: flex-end;
}
.profile-icon{
    cursor: pointer;
}
.mobile-nav{
    display: none;
}



@media screen  and (max-width: 900px) {
    .nav-bar1{
        font-size: medium;
    }
    .menu-icon, .logoicon{
        display: none;
    }
    .nav-bar1, .nav-bar2{
        padding: 1rem;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar1{
        display: none;
    }
    .mobile-nav{
        display: block;
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
    .nav-bar2{
        gap: 2rem;
    }
   }

