.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


nav .logoicon img {
    width: 100%;
    
}

.navbar a{

    color: var(--neutral);
    text-decoration: none;
    border: none;
}


.nav-bar1{
    display: flex;
    gap: 3rem;
    font-size: larger;
}


.nav-bar2{

    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-profile-icon{
    cursor: pointer;
}



.nav-cart-count{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-right: -55px;
    border-radius: 11px;
    font-size: 11px;
    background: red;
    color: white;
}