.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


nav .logoicon img {
    width: 80px;
}

.navbar a{

    color: var(--neutral);
    text-decoration: none;
    border: none;
}


.nav-bar1{
    display: flex;
    gap: 3rem;
}


.nav-bar2{

    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-bar2 button{
    width: 100px;
    height: 30px;
    outline: none;
    border: 2px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
}
.nav-bar2 button:active{
    background: #515252;
}
.nav-cart-count{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-right: -55px;
    border-radius: 11px;
    font-size: 11px;
    background: red;
    color: white;
}